body
{
  background-color: rgba(255, 198, 0, 0.5);
  display: block;
  font-family: "Comic Neue", sans-serif;
  padding: 5px;



}

.container
{

  min-width: 200px;
  max-width: 400px;
  border: 2px solid #ffc600;
  border-radius: 4px;
  box-shadow: 1px;
  margin: 0 auto;
  margin-bottom: 4px;

}


h1
{
  text-align: center;
  text-shadow: 2px 2px #FFFFFF;
  text-decoration: underline;
}

h1:hover
{
  text-shadow: 2px 2px #CACFD2;
}

input
{
  font-family: "Comic Neue", sans-serif;
  width: 100%;
  color: black;


  border: 2px solid #ffc600;
  border-radius: 4px;
  box-shadow: 1px;
  padding: 10px;

  box-sizing: border-box;
  margin: 0;
  margin-bottom: 4px;
}

input #input-el
{
  background-color: rgba(255, 255, 255, 0.5);
}

button
{
  font-family: "Comic Neue", sans-serif;
  color: white;
  width: 75px;

  border: 2px solid;
  border-radius: 4px;
  font-weight: bold;

  padding: 2px 1px;
  margin: 2px;
}




ul
{
  padding: 1px;
  list-style: none;
}

#items-div
{

  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffc600;
  padding: 0px 2px;
}

li
{
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px #FFFFFF;

  border: 2px solid #ffc600;
  border-radius: 4px;
  margin-top: 2px;
  padding: 2px;

  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

}

li:before
{
  content: "✦";
  padding-right: 2px;
}

li:hover
{
  background-color: #922B21;
  text-shadow: 0px 0px;
  color: white;
}

a
{
  color: #265a6e;
}

#top
{
  position: fixed;
  display: grid;
}

.columns
{
  display: flex;
}

#input-btn,
#new-folder-btn
{
  background-color: #117864;
  border-color: #0E6251;
}

#input-btn:hover,
#new-folder-btn:hover
{
  background-color: #138D75;
}


#clear-btn
{
  background-color: #7B241C;
  border-color: #641E16;
}

#clear-btn:hover
{
  background-color: #922B21;
}

#export-btn
{
  background-color: #21618C;
  border-color: #1B4F72;
}

#export-btn:hover
{
  background-color: #2874A6;
}

#folder-header
{
  border-bottom: 1px solid #ffc600;
}

#folders-el
{

}

#searchInput
{
  height: 30px;
  background-color: white;
  border: 2px solid #ffc600;
}


#new-folder-btn
{
  font-family: "Comic Neue", sans-serif;
  width: 2em;
  color: white;
  background-color: #117864;
  padding: 2px;
  margin: 4px;
  border: 2px solid #0E6251;
  border-radius: 4px;
  font-weight: bold;

  text-align: center;
}



.pop-up
{
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 75%;
  animation: fadeIn 0.5s;
}

.hidden
{
  display: none;
}

#folderInput
{
  height: 1em;
  margin: 0 auto;
  width: 105%;
}



@keyframes fadeIn
{
  from {opacity: 0;}
  to {opacity: 1;}
}
