
body
{
  margin:0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width:300px;
  max-width: 600px;
  background-color: rgba(255, 198, 0, 0.5);
  border-color: 5px solid red;

}


input
{
  width: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffc600;
  border-radius: 4px;
  box-shadow: 1px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 4px;
}

button
{
  width: 50%;
  background-color: #00ab4c;
  padding: 2px 10px;
  margin: 4px;
  border: 2px solid #277b4a;
  border-radius: 4px;
  font-weight: bold;
}

button:hover
{
  background-color: #47b264;
}

#clear-btn
{
  background-color: #8b251c;
  border: 2px solid #4b140f;
}

#clear-btn:hover
{
  background-color: #b6134a;
}

ul
{
  width: 100%;
  margin-top: 2px;
  list-style: none;
  padding-left: 0;
}

li
{
  font-size: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffc600;
  padding: 2px;
  border-radius: 4px;
  margin-top: 5px;
}

li:before
{
  content: "|";
  padding-right: 2px;
}

a
{
  color: #265a6e;
}

.columns
{
  display: flex;
}
